.item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;

    &:hover {
        background-color: #F6F6F6;
        border-radius: 10px;
        width: 80%;
    }

    span {
        padding-left: 10px;
    }
}